[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
numpy = "*"
xgboost = "*"
mlflow = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"

[requires]
python_version = "3.11"
